[user]
	email = code@fraq.io
	name = Bren Briggs
	signingkey = 142C68256CA326F5
[color]
 	ui = true
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = current
[commit]
	gpgSign = true
[alias]
	lg = "log --decorate --pretty=format:'%C(yellow)%h%C(reset) %C(green)%G?%C(reset) %C(blue)%an%C(reset) %C(cyan)%cr%C(reset) %s %C(auto)%d%C(reset)' --graph --date-order"


[gpg]
	program = /usr/bin/krgpg
[tag]
	forceSignAnnotated = true
