[user]
	email = titansdfa86@gmail.com
	name = Shazzberry
	signingkey = C46CD36F28807861
[color]
 	ui = true
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = current
[commit]
	gpgSign = true
[alias]
	lg = "log --decorate --pretty=format:'%C(yellow)%h%C(reset) %C(green)%G?%C(reset) %C(blue)%an%C(reset) %C(cyan)%cr%C(reset) %s %C(auto)%d%C(reset)' --graph --date-order"
	lastmonth = !git log --before={`date "+%Y-%m-01"`} --after={`date -v-1m "+%Y-%m-01"`} --reverse --pretty=format:'%C(yellow)%h%C(reset) %C(green)%G?%C(reset) %C(blue)%an%C(reset) %C(cyan)%cr%C(reset) %s %C(auto)%d%C(reset)' --date-order --reverse
	twomonths = !git log --before={`date "+%Y-%m-01"`} --after={`date -v-2m "+%Y-%m-01"`} --reverse --pretty=format:'%C(yellow)%h%C(reset) %C(green)%G?%C(reset) %C(blue)%an%C(reset) %C(cyan)%cr%C(reset) %s %C(auto)%d%C(reset)' --date-order --reverse

[gpg]
	program = /usr/local/bin/krgpg
[tag]
	forceSignAnnotated = true
